.dekhne {
    height: 100px;
}

body {
    margin: 0px;
    padding: 0px;
    transition: all ease 0.6s;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    height: 2rem;
    width: 1100px;
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 10px;
    padding: 1rem;
    /* margin-left: 6rem; */
    border: 2PX solid rgba(255, 100, 10, 0.938);
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 4px 7px rgba(255, 100, 10, 0.938);


}

.left {
    overflow: hidden;
    display: flex;
    gap: 5px;
    height: 100%;
    align-items: center;
}

.left P {
    border-right: 2px solid black;
    padding-right: 5PX;
}

.left img {
    height: 100%;
    width: 100%;
    margin-left: 3px;
    border-radius: 50%;
    padding: 1PX;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.right ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: black;

}

ul li a:hover {
    background-color: rgba(255, 100, 10, 0.938);
}

.right button {
    width: 6rem;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 100, 10, 0.938);
    border: none;
    transition: all ease 2s;
    font-weight: bold;
}

.right button:hover {
    border: 2px solid black;
}

.nav2 {
    background-color: rgba(255, 100, 10, 0.938);
    width: 100vw;
    height: 2rem;
    opacity: 0;
    transform: translateY(90px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;


}

.nav2 h3 {
    text-align: right;
    transform: translateX(65%);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.h-info {
    /* display: flex; */
    /* flex-direction: column; */
    height: 20rem;
    background-color: rgb(255, 255, 255);
    overflow: hidden;


}

.h-info h5 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    transform: translateY(30px);
    padding-left: 2rem;


}

.h-info p {
    color: rgba(255, 100, 10, 0.938);

    font-size: 4rem;
    font-weight: bold;
    transform: translateY(-20px);

}

.h-info h3 {
    color: black;
    font-size: 30px;
    font-weight: bold;
    transform: translateY(-50px);

}

.h-pic {
    background-color: rgb(255, 255, 255);
    height: 380px;
    width: 380px;
    border-radius: 50%;
    box-shadow: 24px 24px 47px rgba(237, 176, 61, 0.962),
        -24px -24px 47px rgba(235, 163, 28, 0.767);
}

.h-pic img {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.h-pic:hover {
    box-shadow: 24px 24px 47px rgba(240, 188, 91, 0.962),
        -24px -24px 47px rgba(121, 106, 79, 0.767);

}

/* skills section */


.skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
}

.s-pic img {
    border-radius: 50%;
    border-right: 4px solid rgba(255, 100, 10, 0.938);
    box-shadow: 3px 3px 5px gray;
}

.s-info {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 1px;
    transform: translateY(-30%);
}

.sps {
    color: rgba(255, 100, 10, 0.938);
    font-weight: bold;
    font-size: 4rem;
}

.row1,
.row2 {
    display: flex;
    gap: 2rem;
    height: 30px;
    width: 80px;
}

.row1 p,
.row2 p {
    padding: 5px;
    border-radius: 10px;
    text-transform: capitalize;
    height: 60px;
    width: 90px;
}

.row2 p i,
.row1 p i {
    font-size: 5rem;
    color: rgba(40, 39, 39, 0.789);
}

.row1 {
    transform: translateY(-50px);
}

.row2 {
    transform: translateY(20px);
}


/* about section */

.about-s {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
}

.a-info h2 {
    color: rgba(255, 100, 10, 0.938);
    font-size: 3.5rem;
    font-weight: bold;
}

.a-info p {
    font-size: 1.5rem;
    font-weight: bold;
}

.a-info a {
    font-size: 2rem;
    padding-right: 1rem;
    color: rgba(255, 100, 10, 0.938);
}

.a-pic img {
    border-left: 4px solid rgba(255, 100, 10, 0.938);
    ;
    border-radius: 50%;
    box-shadow: -5px 4px 6px gray;
}


/* project section */
.prj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.prj h1 {
    color: rgba(255, 100, 10, 0.938);
    ;
    font-weight: bolder;
    font-size: 3.5rem;

}

.c1 {
    height: 300px;
    width: 70vw;
    border: 2px solid rgba(255, 100, 10, 0.938);
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 26px;

}

.c1:hover {
    border-radius: 26px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 4px 5px 7px rgba(255, 100, 10, 0.938),
        -4px -5px 7px rgba(121, 106, 79, 0.767);

}

.c1 img {
    height: 60%;
    width: 60%;
    border-radius: 26px;
    background-size: cover;
    padding-left: 4px;

}

.info {
    display: flex;
    flex-direction: column;
    padding: 0rem 1.5rem;
    width: 50%;

}

.info h2 {
    color: rgba(255, 100, 10, 0.938);
    font-size: 2.5rem;
    font-weight: bold;
}

.info p,
.info a {
    transform: translateY(-120%);
}

.info a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid rgba(255, 100, 10, 0.938);

    width: 6rem;
}

.info a:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
    color: rgba(255, 100, 10, 0.938);

    box-shadow: 0px 4px 4px rgba(255, 100, 10, 0.938);

}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;

}

.c-pic {
    height: 130%;
}

.c-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 60%;
}

.c-info h1 {
    color: rgba(255, 100, 10, 0.938);
    
    font-size: 3rem;
    font-weight: bold;
}

.c-info input {
    width: 70%;
    height: 2rem;
    border-radius: 20px;
    padding-left: 1rem;
}

.c-info input:hover,
.c-info textarea:hover {
    border: 2px solid rgba(255, 100, 10, 0.938);
}

.c-info textarea {
    width: 70%;
    height: 40%;
    border-radius: 20px;
    padding-left: 1rem;
}

.c-info button {
    width: 6rem;
    height: 2rem;
    background-color: rgba(255, 100, 10, 0.938);
    border-radius: 10px;
    border: none;
}

.ftr {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 100, 10, 0.938);
    width: 100vw;
    height: 3rem;
    border-top: 2px solid black;

}

.ftr a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-bottom: 2px solid black;
}


@media screen and (min-device-width: 390px) and (max-device-width: 420px) {

    body,
    html {
        width: 100%;

    }

    nav {
        opacity: 0;
        transform: translateY(90px);
    }

    .nav2 {
        opacity: 1;
        transform: translateY(-85px);
        margin: 0px;
        width: 100vw;

    }

    .nav2 h3 {
        transform: translateX(10%);
    }

    .hero {
        display: flex;
        flex-direction: column;
        padding: 0px 9px;
    }

    .h-info {
        transform: translateX(10%);
    }

    .h-info h5 {
        font-size: 18px;
    }

    .h-info p {
        font-size: 3rem;
        /* transform: translateX(10%); */
    }

    .h-info h3 {
        font-size: 22px;
    }

    .h-pic {
        width: 200px;
        height: 200px;
        transform: translateX(0%);
        overflow: hidden;
    }

    .h-pic img {
        height: 100%;
        width: 100%;
    }

    .skills {
        display: flex;

    }

    .s-pic {
        height: 100px;
        width: 100px;
        transform: translateX(-140%);

    }

    .s-pic img {
        height: 90%;
        width: 90%;
    }

    .s-info {
        transform: translateX(-50%);
    }

    .s-info h2,
    .s-info span {
        font-size: 2rem;
    }

    .row1 p i,
    .row2 p i {
        font-size: 25px;
        color: black;
        height: 30px;
        width: 30px;

    }
    .row2 p{
        transform: translateY(-66%);
    }

    .about-s {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .a-info {
        width: 60vw;
    }

    .a-info h2 {
        font-size: 2rem;
    }

    .a-info p {
        font-size: 15px;
        font-weight: normal;
    }

    .a-pic {
        height: auto;
        width: 170px;
        transform: translateY(25%);

    }

    .a-pic img {
        height: 100%;
        width: 100%;
    }

    .a-info a {
        font-size: 1rem;
        padding-right: 0.5rem;
    }

    .c1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 75vw;
        height: 350px;
    }

    .c1 img {
        width: 100%;
        height: auto;
    }

    .c1 .info {
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }

    .info h2 {
        font-size: 22px;
        margin-bottom: 40PX;
    }

    .info a {
        width: 4rem;
        padding: 3px;
    }

    .contact {
        display: flex;
        flex-direction: row;
        width: 95vw;
        height: 400px;
        transform: translateY(-20%);
    }

    .c-pic {
        height: 80%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(10%);
    }

    .c-pic img {
        height: auto;
        width: 65%;
        border-radius: 50%;
        border-right: 2px solid orange;
    }

    .c-info h1 {
        font-size: 1.8rem;
        transform: translateX(-25%);
    }

    .c-info input {
        height: 1rem;
        width: 95%;
    }

    .c-info textarea {
        height: 90%;
        width: 95%;
    }

    .c-info button {
        width: 4rem;
        height: 1.5rem;
        background-color: orange;
        border-radius: 10px;
        border: none;
    }

    .ftr {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: orange;
        width: 100vw;
        height: 3rem;
        border-top: 2px solid black;
    }

    .ftr a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: bold;
        border-bottom: 2px solid black;
    }

}
